.dog {
  width: 200px;
  border-radius: 10px;
}

.dog:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

#dogContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

body {
  background: linear-gradient(180deg, #50b4fc, blue);
  background-repeat: no-repeat;
  height: 100vh;
}